
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

 @font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
 }

 @font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
 }

   @font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    background-color: #FFFFFF;
}

.btn {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #000000;
    background-color: #FFE17F;
    border: 0;
}

.title {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.visually-hidden {
    display: none;
}

.page-container {
    width: 1160px;
    margin: 0 auto; 
}

.main {
    flex-grow: 1;
}

.page-header {
    color: #000000;
    background-color: #FFE17F;
}

.header-logo {
    margin-left: 60px;
}

.navigation {
    display: flex;
    margin: 0 60px;
}

.search-form {
    width: 480px;
}

.nav-user {
    max-width: 595px;
    margin: 0 0 0 auto;
    padding: 0;
    font-size: 16px;
    line-height: 19px;
}

.nav-user__item  {
    list-style: none;
}

.nav-user__link {
    text-decoration: none;
    color: #000000;
}

.main-nav {
    position: relative;
}

.main-nav__list {
    display: flex;
    margin: 0 60px;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    line-height: 21px;
}

.main-nav__item_catalog {
    flex-grow: 1;
}

.main-nav__link {
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.sub-nav {
    display: none;

    position: absolute;
    left: 0;
    top: 52px;

    width: 100%;
    margin: 0;
    padding: 0 60px;
    box-sizing: border-box;
    list-style: none;

    font-family: "Rubik", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    background-color: #FFE17F;
}

.sub-nav__link {
    text-decoration: none;
    color: #000000;
}

.main-container {
    flex-grow: 1;
}

.product-slider {
    color: #444444;
    background-color: #FFE17F;
}

.slider-card {
    display: flex;
    justify-content: space-between;
}

.slider-card__galery {
    width: 560px;
}

.slider-card__info {
    width: 560px;
}

.slider-card__number {
    font-family: "Rubik", "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 180px;
    line-height: 30px;
    color: #FFFFFF;
}

.slider-card__description dd {
    color: #444444;
}

.slider-card__title {
    color: #000000;
}

.main-nav__item {
    color: #444444;
}

.slider-card__feature dt {
    font-size: 36px;
    line-height: 30px;
    color: #000000;
}

.slider-card__feature dd {
    font-size: 16px;
}

.assortiment {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}

.assortiment__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;  
}

.assortiment__item {
    width: 160px;
}

.assortiment__link {
    text-decoration: none;
}

.assortiment__text {
    letter-spacing: -0.02em;
    color: #000000;
}

.services {
    color: #444444;
    background-color: #F0F0F0;
}

.services__container {
    display: flex;
}

.services__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0 115px 0 0;
    list-style: none;
}

.services__content {
    width: 487px;
    margin-left: 116px;
}

.service-about:nth-child(2),
.service-about:nth-child(3) {
    display: none;
} 

.service-about__title {
    color: #000000;
}

.delivery {
    text-align: center;
    color: #444444;
    background-color: #F0F0F0;
} 

.delivery__btn {
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.2em;
    text-decoration: none;
    text-transform: uppercase; 
    color: #000000; 
}

.info {
    display: flex;
    justify-content: space-between;
}

.about-us {
    width: 560px;
}

.about-us__title {
    color: #000000;
}

.about-us__list {
    font-family: "Rubik", "Arial", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.contacts {
    width: 560px;
}

.contacts__title {
    color: #000000;
}

.contacts__subtitle {
    font-family: "Rubik", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.contacts__address {
    font-style: normal;
}

.contacts__schedule {
    list-style: none;
}

.contacts__phone {
    color: #444444;
}

.subscription {
    color: #444444;
    background-color: #F0F0F0;;
}

.subscription__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.subscription__title {
    width: 560px;
    color: #000000;
}

.subscription__text {
    width: 560px;
    margin: 0;
    padding: 0;
}

.subscription__form {
    display: flex;
    justify-content: space-between;
}

.page-footer {
    padding: 60px 0;
    color: #FFFFFF;
    background-color: #444444;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-address {
    width: 238px;
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    color: #FFFFFF;
}

.footer-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 458px;
    font-family: "Raleway", "Arial", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.footer-nav__item {
    list-style: none;
}

.footer-nav__link {
    text-decoration: none;
    color: #FFFFFF;
}

.footer-contacts-phone {
    order: 2;
    width: 293px;
    font-size: 16px;
    text-align: end;
    text-decoration: none;
    color: #FFFFFF;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin: 0;
    margin-left: 425px;
    padding: 0;
}

.footer-social__item {
    list-style: none;
}

.footer-social__btn {
    display: block;
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: #FFFFFF;
}

.logo-academy {
    width: 115px;
    height: 35px;
    color: #FFC700;
}

.inner-header__title {
    color: #000000;
}

.main__container {
    display: flex;
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs__link {
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #000000;
}

.filters {
    flex-grow: 1;
    flex-basis: 330px;
    color: #000000;
    background-color: #EBEBEB;
}

.filters__conteiner {
    display: flex;
    justify-content: flex-end;
}

.filters__conteiner_gray {
    background-color: #DCDCDC;
}

.filters__header,
.filters__content {
    width: 330px;
}

.filters__title {
    font-family: "Raleway", "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}

.filters-catalog__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
}

.range__toggle-label {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}

.control-list__item {
    list-style: none;
}

.checkbox-control {
    color: #000000;
    font-size: 16px;
    line-height: 19px;  
}

.control-radio__label {
    font-size: 16px;
    line-height: 19px;
}

.products-sort {
    color: #000000;
    background-color: #EBEBEB;
}

.products-sort__label {
    font-family: "Raleway", "Arial", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}

.control-select {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.products {
    flex-grow: 1;
    flex-basis: 830px;
}

.products__container {
    display: flex;
    justify-content: flex-start;
}

.products__header,
.products__content {
    width: 830px;
}

.products__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.product-card {
    text-decoration: none;
}

.product-card__title {
    font-family: "Rubik", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #000000;
}

.product-card__price {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #444444;
}

.products__show-more {
    font-family: "Raleway", "Arial", serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}

.pagination {
    display: flex;
    justify-content: space-between;
    color: #000000;
    background-color: #EBEBEB;
}

.pagination__btn {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.pagination__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0; 
}

.pagination__item {
    list-style: none;
}

.pagination__link {
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    text-align: center;
    color: #444444;
}






